<div id="container-exp">
	<div id="trial">
		<h1>Catch the ball with your mouse cursor as soon as it comes out of the tube</h1>
		<p></p>
		<div id="stim"></div>
		<div class="row">
			<p id="suprise-value"></p>
			<input type="range" id="suprise-input" name="suprise" min="0" max="100" disabled style="width: 300px; margin: auto;">
		</div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
	</div>
</div>