<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            In this task, you will see short videos of a ball rolling behind a raised screen, and then rolling out. After each video is shown, you will be asked to indicate how surprising were the events in the video, by entering a number between 0 (not at all surprising) and 100 (extremely surprising).
        </p>
        <p>
            You can take as much time as you need.
        </p>
        <p>
            Good luck!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
