<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            In this task, you will see short videos of a ball rolling into a tube, viewed from the top (above the tube). Your task is to catch the ball as soon as possible after it exits the tube, by clicking it with your mouse cursor.
        </p>

        <p>
            Tubes have several openings. Inside the tube there can be blockings, which prevent the ball from continuing its path, meaning you won’t know in advance which opening it will come out of.
        </p>

        <p>
            After you click the mouse in each trial, you can move to the next trial by pressing the space bar. If you need to take a short break, wait before pressing the space bar.
        </p>

        <p>
            Try to be as fast and as accurate as possible.
        </p>

        <p>
            Good luck!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
